[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "==7.1.2"
matplotlib = "*"
h5py = "*"
thop = "*"
fvcore = "*"
torch-geometric = "*"
requests = "*"
tqdm = "*"
ogb = "*"
svgpathtools = "*"
opencv-python = "*"
tensorboard = "*"
networkx = "*"
torch-cluster = {file = "https://data.pyg.org/whl/torch-1.7.0%2Bcu110/torch_cluster-1.5.9-cp38-cp38-linux_x86_64.whl"}
torch-scatter = {file = "https://data.pyg.org/whl/torch-1.7.0%2Bcu110/torch_scatter-2.0.7-cp38-cp38-linux_x86_64.whl"}
torch-sparse = {file = "https://data.pyg.org/whl/torch-1.7.0%2Bcu110/torch_sparse-0.6.9-cp38-cp38-linux_x86_64.whl"}
torch = {file = "https://download.pytorch.org/whl/cu110/torch-1.7.1%2Bcu110-cp38-cp38-linux_x86_64.whl"}
torchvision = {file = "https://download.pytorch.org/whl/cu110/torchvision-0.8.2%2Bcu110-cp38-cp38-linux_x86_64.whl"}
torch-spline-conv = {file = "https://data.pyg.org/whl/torch-1.7.0%2Bcu110/torch_spline_conv-1.2.1-cp38-cp38-linux_x86_64.whl"}

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.8"
